<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.mappers.EmailCodeMapper">
    <insert id="insert">
        insert into email_code (email,code,create_time) values (#{email},#{code},#{createTime})
    </insert>

    <update id="disableEmailCode">
        update email_code set status=1 where email=#{email} and status=0
    </update>

    <select id="selectByEmailAndCode" resultType="com.netdisk.pojo.EmailCode">
        select * from email_code where email=#{email} and code=#{code}
    </select>
</mapper>