<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.mappers.ScheduleMapper">

    <update id="updateByRecoveryTime">
        <!-- TODO   XML中需要用xml实体如&lt、&gt代替直接使用 < 和 > 字符-->
        update file_info set del_flag=0
        where del_flag = 1 and recovery_time &lt; curdate() - INTERVAL 10 DAY;
    </update>

    <delete id="deleteEmailCode">
        delete from email_code where status=1
    </delete>

    <delete id="deleteFile">
        delete from file_info where del_flag=0 and folder_type=1
    </delete>

    <delete id="deleteShare">
        delete from file_share where expire_time &lt; curdate()
    </delete>

    <delete id="deleteErrorFile">
        delete from file_info where status !=2
    </delete>

</mapper>